%li.person.row.vcard( id = "p-#{person.permalink}")
  .fourcol.profile-photo
  - if person.photo.uri
    %img.photo( title = person.photo.title, alt = "#{person.full_name} - photo", src = person.photo.uri
  - else
    &nbsp;
  .eightcol.last
    %h1.fn
      = person.full_name
    - if person.qualifications
      %ul.qualifications
      - for qualification in person.qualifications
        %li #{qualification}
    - if person.roles
      %ul.roles
      -for role in person.all_roles
        %li #{role}
    - if person.email_address or person.phone_number
      %dl.contact-details
      - if person.email_address
        %dt email
        %dd #{person.email_address}
      - if person.phone_number
        %dt telephone
        %dd #{person.phone_number}
    .profile-blurb
      = person.staff_profile_text
    - if person.research_projects or person.bibliography_uri
      %dl.research
      - if person.research_projects
        %dt Research projects
        - for research_project in person.research_projects
          %dd #{research_project}
      - if person.bibliography_uri
        %dt Publications
        %dd #{bibliography_uri}
        
      
